/* Dashboard Specific Styling */
.dashboard-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    gap: 20px;
    color: var(--text-color-white);
    flex-grow: 1;
}

nav {
    width: 150px;
    background-color: var(--component-bg-color);
    border-right: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: var(--text-color-white);
    transition: background-color 0.3s ease;
    text-align: justify;
}

nav ul li a:hover {
    background-color: var(--button-hover-color);
    border-radius: 5px;
}

nav ul li a.selected {
    background-color: var(--button-hover-color); /* Keep the hover color */
    color: var(--main-bg-color); 
}

/* Logout Button Styling */
nav .logout-form {
    margin-top: auto; /* Pushes logout button to the bottom */
    text-align: center;
}

nav .logout-form button {
    background-color: var(--button-logout-bg-color);
    color: var(--text-color-white);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav .logout-form button:hover {
    background-color: var(--button-logout-hover-bg-color);
}

/* Content Styling */
.dashboard-content {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--component-bg-color);
    margin-left: 20px;
    width: 900px;
}

.dashboard-content h1 {
    color: var(--text-color-yellow);
    margin-bottom: 20px;
}

.dashboard-content p {
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.dashboard-content .status-info {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--component-bg-color);
    border-radius: 5px;
}



/* Responsive Design for Dashboard */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: auto;
    }

    .dashboard-content {
        margin-left: 0;
        width: 100%;
    }

    .dashboard-content h1 {
        font-size: 1.5rem;
    }
}


/* MQTT Section style */

/* MQTT Section */
.mqtt-section {
    padding: 5px;
    margin: 5px 0;
    background-color: var(--component-bg-color);
    color: var(--text-color);
}

#mqtt-forms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;   
}

#mqtt-forms,
#subscribed-topics,
#mqtt-data {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    flex: 1; /* Ensures all sections have equal width */
}


/* MQTT Section Headers */
.mqtt-section h3, .mqtt-section h4 {
    color: var(--header-color);
    margin: 0;
}

/* MQTT Data Display */
#mqtt-data-display{
    height:200px; /* Limit the height to show 5 items, assuming each item is roughly 24px */
    overflow-y: auto; /* Enable vertical scrolling if there are more than 5 items */
    list-style: none;
    padding: 0;
    margin: 5px 5px;
    border-bottom: 0.3px solid var(--border-color);
}

#subscribedTopics, #mqtt-data {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0.3px solid var(--border-color);

}
/* MQTT Data List Items */
#mqtt-data-display li {
    font-size: 0.8rem; /* Make the font smaller */
    padding: 8px 10px;
    margin: 1px 0; /* Small space between messages */
    background-color: transparent;
    color: var(--text-color);
    transition: background-color 0.3s ease;
    text-align: justify;
}

/* Styling for the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--main-bg-color); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--header-color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid var(--main-bg-color); /* Padding around the scrollbar thumb */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Firefox: Makes the scrollbar thinner */
    scrollbar-color: var(--header-color) var(--main-bg-color); /* Firefox: Thumb and track colors */
}




/* For influx section style*/
.influx-section {
    font-family: Arial, sans-serif;
    font-size: 14px; /* Small and neat font size */
    color: var(--main-bg-color); 
    padding: 10px; /* Padding around the section */
    border-radius: 5px; /* Rounded corners */
    max-width: 600px; /* Maximum width for the section */
    margin: 0 auto; /* Center align the section */
}

h3 {
    font-size: 16px; /* Slightly larger font size for headings */
    margin-bottom: 10px; /* Space below the headings */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
}

label {
    font-size: 14px; /* Small and neat font size */
    margin-bottom: 5px; /* Space below labels */
}

select, input[type="radio"], button {
    font-size: 14px; /* Small and neat font size */
    margin-right: 10px; /* Space between radio buttons and labels */
}

#selection-container {
    display: flex;
    gap: 20px; /* Space between time range and aggregation sections */
    align-items: flex-start;
}

#time-range-container, #aggregation-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between labels and radio buttons */
}

#timeRange, #aggregation {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if container is too small */
    gap: 10px; /* Space between radio buttons and labels */
}

input[type="radio"] {
    width: 15px; /* Smaller radio button */
    height: 15px; /* Smaller radio button */
}

label[for^="timeRange"], label[for^="aggregation"] {
    font-size: 14px; /* Small and neat font size */
    margin-left: 5px; /* Space between radio button and label text */
    color: var(--text-color-white);
}



/* Class influx Section */

#measurement-selection {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* Styling for individual sections */
#measurement-form, #selected-measurements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    
    flex: 1;
}

/* Ensuring equal height for both sections */
#measurement-form select, #selected-measurements ul {
    flex: 1;
    margin-bottom: 20px;
}

#query-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0 auto;
    max-width: 400px;

}

/* Style for the list items */
#query-list li {
    padding: 10px;
    border-bottom: 1px solid var(--border-color); /* Add a border between items */
    color: var(--text-color-white);
    font-size: 14px;
    text-align: left;
}

#query-list li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

#query-list li:hover {
    background-color: var(--button-hover-color); /* Add a hover effect */
}
#query-list li.selected {
    background-color: var(--button-hover-color); /* Keep the hover color */
    color: var(--main-bg-color); 
}

/* Query buttons container remains the same */
#query-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 20px;
  }

  #logout{
    margin-bottom: 30px;
  }

  #query_name{
    margin-left: 30px;
  }