<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Influx Hub{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  {% block extra_styles %}{% endblock %}
</head>
<body> 
  <header> 
    <h1>Welcome to Influx HUB</h1> 
  </header> 
  <main>
    {% block content %}
  
    {% endblock %} 
    
  </main> 
  <footer> 
    <p>&copy; 2024 NEIU College of Business and Technology</p> 
  </footer> 
  {% block scripts %}
  
  {% endblock %} 

  {% block extra_scripts %}
    <!-- Additional scripts will be inserted here -->
  {% endblock %}
</body>
</html>
